/* ELEMENT SELECTORS */
body {
    background-image: none;
    font-family: 'Staatliches', cursive;
    font-size: larger;
}

/* ID SELECTORS */
#zip-error, #geo-unsupported, #geo-error {
    color: #A93E35;;
}
