/* ELEMENT SELECTORS */
/* body {
    background-image: url(../images/bubble-wrap.png);
    font-family: 'Staatliches', cursive;
    font-size: larger;
} */

/* ID SELECTORS */
/* #zip-error, #geo-unsupported, #geo-error {
    color: red;
} */
